@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qrozt0');
  src:  url('fonts/icomoon.eot?qrozt0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qrozt0') format('truetype'),
    url('fonts/icomoon.woff?qrozt0') format('woff'),
    url('fonts/icomoon.svg?qrozt0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e901";
}
.icon-cloud:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-pen:before {
  content: "\e906";
}
.icon-display:before {
  content: "\e907";
}
.icon-bubble:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-paperplane:before {
  content: "\e90b";
}
.icon-world:before {
  content: "\e90c";
}
.icon-th-menu-outline:before {
  content: "\e900";
}
.icon-th-menu:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}

