html{
	overflow-x: hidden;   
}

body{
    font-family: 'Questrial', sans-serif;
    color: #545454;
}

.skill1 p{
	text-align: justify;
}
.no-pb{
	margin-bottom:  0vh !important;
}
.left-side{
	position: fixed;
	width: 30%;
}
.intro{
    position: absolute;
    padding: 10vh 0vh 8vh 6vh;
    color: #545454;
}
.intro-text h4{
	font-family: alberto;
	color: #00eeff;
	padding-right: 19vh;
}
.intro-text p{
	padding-right: 16vh;
}
.no-col{
	padding: 0 !important;
}
.right-side{
    position: static;
/*    background-image: url(../img/design.jpg);
    background-size: cover;*/
}

a.btn{
	font-size: 2.2vh;
	background-color: #00eeff;
}
.cv-button{
	padding-top: 3vh;
}
.social-net, .social-net-2{
	font-size: 1.8rem;
	padding-bottom: 2vh;
}
.social-net span, .social-net-2 span{
	padding: 1vh; 
	color:  #00eeff;
}

.menubar{
	position: fixed;
    background: rgba(251, 251, 251, 0.34);
    right: 4vh;
    top: 4vh;
    font-size: 1.5rem;
    color: #00eeff;
    padding: 1vh 2vh;
    z-index: 301;
}

.open{
	visibility: visible;
	transform: scale(1.2,1.2);
}

.close{
	visibility: hidden;
}

.nav-list{
    font-size: 5rem;
    text-align: center;
    font-family: "albertoregular";
    top: 6vh;
    position: relative;
}

a.line{
    color:  rgba(21, 255, 255, 1); !important;
}

a.line:hover{
    text-decoration: line-through;
}

div#open{
    background-color: rgba(0, 0, 7, 0.9);
    position: fixed;
    z-index: 300;
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
    transition: all .3s;
    top: 0;
    width: 100%;
    height: 100%;
}
.presentation{
	font-size: 1.5rem;
	background-image: url(../img/fondo2.jpg);
	background-size: cover;
	height: 100vh;
	font-family: alberto;
}
.presentation a{
	color: #d6d3c3;
	padding-left: 4vh;
}

.letras {
    padding-top: 45vh;
    font-family: alberto;
    font-size: 4rem;
    text-align: center;
    color: #d6d3c3;
}

/*SKILLS SECTION*/
.icongif img{
	width: 15vh;
}

.title-skills, .title-work{
	padding-bottom: 5vh;
}
.title-skills p, .title-work p, .title-contact p, .title-about p{
	color: #00eeff;
	font-size: 3rem;
	margin: 0;
	letter-spacing: .4vh;
}

.title-skills span.icon-star, .title-work span.icon-display, .title-about span.icon-user{
	font-size: 2rem;
	color: #00eeff;
}

.about p.parrafo{
	padding: 0vh 20vh;
    text-align: justify;
    font-size: 1.05rem;
}

.pd-2{
	padding-right: 2vh;
}

/*SKILLS 2*/

.skill1{
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
    padding: 4vh;
    background: rgba(0, 238, 255, 0.52);
    margin-bottom: 2vh;
}

.icongif{
    width: 15vh;
    margin-left: 30%;
}

.skills, .about{
	padding-top: 6vh;
	color: #545454;
}

/*PORTFOLIO SECTION*/
.portfolio-section{
	padding-top: 2vh;
}

.julliard{
     background-image: url(../img/julliard.jpg);
     background-position-x: 30%;
}

.portafolio{
     background-image: url(../img/portafolio.jpg);
     background-position-x: 50%;
}

.user-testing{
     background-image: url(../img/user-testing.jpg);
     background-position-x: 50%;
}
.twitter{
     background-image: url(../img/twitter.jpg);
     background-position-x: 30%;
     cursor: pointer;
}

.trello{
     background-image: url(../img/trello.jpg);
}

.lyft{
     background-image: url(../img/lyft.jpg);
     background-position-x: 50%;
}

.v-magazine{
     background-image: url(../img/v-magazine.jpg);
     background-position-y: 45%;
}

.book-cover{
     background-image: url(../img/book-cover.jpg);
}

.powertrekk{
     background-image: url(../img/powertrekk.jpg);
}
.portfolio div{
    width: 100%;
    vertical-align: top;
    background-size: cover;
    height: 280px;
    background-repeat: no-repeat;
    padding: 0px !important;
}
.portfolio div.row{
    margin-bottom: 0px;
    margin-top: 0px;
}
/*MOSTRAR ICONOS - HOVER*/
#show-hover .text-icons{
    position: absolute;
    top: 28vh;
    left: 0;
    visibility: hidden;
    font-size: 1.1rem;
    width: 100%;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}
#show-hover:hover .text-icons {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR ICONOS - HOVER*/

/*MOSTRAR TEXTO - HOVER*/
#show-hover .text {
    position: absolute;
    bottom: 19vh;
    left: 0;
    visibility: hidden;
    font-size: 1.5rem;
    width: 100%;
    color: white;
    z-index: 10;
    margin: auto;
    text-align: center;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
}

#show-hover:hover .text {
    visibility:visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transition-property: transform;
    transition: all .5s ease;
}
/*FIN MOSTRAR TEXTO-HOVER*/

/*OSCURECER IMG*/
#show-hover{
    position: relative; 
} 

#show-hover:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#show-hover:hover:after {
    opacity:2;
}
/*FIN OSCURECER IMG*/

.contact{
	display: none;
}

.footer{
	color: #00eeff;
	font-family: alberto;
	font-size: 1.2rem;
	letter-spacing: 0.5vh;
}

@media (max-width: 992px){
	.left-side {
	    position: static;
	    width: 100%;
	    height: auto;
	}
	.intro{
	    padding: 5vh 0vh 4vh 0vh;
	    text-align: center;
	    position: static;
		width: 100%;
	}

	.intro-text p{
		padding: 0px;
		margin: 2vh 6vh;
	}

	.right-side {
	    width: 100%;
	    margin-left: 0%;
	}

	.presentation{
	    height: 50vh;
	}
	.letras {
    	padding-top: 15vh;
    	font-size: 3rem;
	}

	.skill1{
		margin-bottom: 3vh;
	}

	.title-contact h2{
		font-family: alberto;
		letter-spacing: 3vh;
		color: rgba(0, 238, 255, 0.64);
		padding-left: 2vh;
	}
	.contact{
		display: block;
		padding-bottom: 4vh;
		padding-top: 4vh;
	}
	.icongif img{
		width: 15vh;
	}
	.about {
		display: none;
	}
	#show-hover .text-icons{
		visibility: visible;
		top: 20vh;
	}
	#show-hover .text{
		visibility: visible;
	}
}